body{
    background-image: url("../img/background.png");
    background-size: cover;
    margin: auto;
}

.container{
    width:50vw;
    height:80vh;
    margin:auto;
}

.game{
    width:90vw;
    height:90vh;
    margin:auto;
}

.btn{
    width: 50%; 
    height:15%;
    background-color: #04AA6D; 
    font-family: comic sans ms;
    color: white; 
    cursor: pointer; 
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    border-style: none;
    font-size: 2vw;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s, font-size 0.5s;
}

.btn:hover{
    width: 35%; 
    height:15%;
    background-color: #04AA6D;
    font-family: comic sans ms; 
    color: white; 
    cursor: pointer; 
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    border-style: none;
    font-weight: bold;
    font-size: large;
    font-size: 2vw;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s, font-size 0.5s;
}

.pseudo{
    font-size: 2vw;
    color:white;
    margin-left: 20%;
    font-family: comic sans ms;
}

.title{
    font-size: 2vw;
    color:white;
    margin-left: 20%;
    width:50%;
    font-family: comic sans ms;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    margin-left:23%;
}

a{
    text-decoration: none;
}

#canvas{
    width:95%;
    height:85%;
    margin: auto;
    position: absolute;
    margin-left: 2%;
    margin-top: 3.5%;
    border:1px solid black;
}


  .cursor-trail {
  position: fixed;
  z-index: 9999;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.cursor-trail.active {
  width: 50px;
  height: 50px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.5s ease-out;
}

