/*
* Description : Page css
*/
*
{
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.game-background{
    background-image: url("../img/background.png");
    background-size: cover;
    margin: auto;
    width: 95vw;
    height: 95vh;
}

.container{
    width:50vw;
    height:80vh;
    margin:auto;
}

.btn{
    width: 50%; 
    height:10%;
    background-color: #04AA6D; 
    font-family: comic sans ms;
    color: white; 
    cursor: pointer; 
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    border-style: none;
    font-size: 1.5vw;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s, font-size 0.5s;
}

.btn:hover{
    width: 35%; 
    height:10%;
    background-color: #04AA6D;
    font-family: comic sans ms; 
    color: white; 
    cursor: pointer; 
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    border-style: none;
    font-weight: bold;
    font-size: large;
    font-size: 1.5vw;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s, font-size 0.5s;
}

.pseudo{
    font-size: 2vw;
    color:white;
    margin-left: 20%;
    font-family: comic sans ms;
}

.title{
    font-size: 2vw;
    color:white;
    margin-left: 20%;
    width:50%;
    font-family: comic sans ms;
    text-align: center;
    font-weight: bold;
    margin-left:23%;
}

.games-text{
    font-size: 1vw;
    color:white;
    margin-left: 20%;
    width:50%;
    font-family: comic sans ms;
    text-align: center;
    margin-left:20%;
}

.error-text{
    font-size: 1vw;
    color:rgb(86, 1, 1);
    margin-left: 20%;
    width:50%;
    font-family: comic sans ms;
    text-align: center;
    margin-left:20%;
}

.link{
    text-decoration: none;
}


.text{
    font-family: comic sans ms; 
}

.message{
    color:red;
}

#game-over-menu{
    visibility: hidden;
    border:1px solid black;
    width:40vw;
    height:40vh;
    margin-left:30%;
    margin-top:7%;
    text-align:center;
}

#canvas{
    
    margin: auto;
    position: absolute;
    border:1px solid black;
}

#game-over-menu h1{
    margin-top:15%;
}

#result{
    visibility: visible;
}

